html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-weight: 500;
    font-family: sans-serif;
    background-color: darkslategray;
    color: white;
}

header, footer {
background-color: darkcyan;
padding-block: 2rem;
padding-inline: 1rem;
font-weight: 900;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    border-radius: 50%;
    width: 42px;
}

.primary-navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.primary-navigation a {
    color: lightcoral;
    text-decoration: none;
    transition: 150ms ease-in-out;
}

.primary-navigation a:hover {
    color: rgb(43, 226, 134);
    text-decoration: underline;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}

.hero img {
    max-width: 50%;
    height: auto;
    border-radius: 1rem;
}

.hero-text {
    flex: 1;
    text-align: left;
}
