*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
}

main {
  margin-inline: auto;
  width: 100%;
  max-width: 66rem;
  padding: 1rem;
}

section,
article {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.container {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

p,
h1,
h2,
a {
  margin: 1rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.125rem;
  color: #333;
}

a,
.primary-navigation a {
  color: lightcoral;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover,
.primary-navigation a:hover {
  color: #2be286;
  text-decoration: underline;
}

header,
footer {
  background-color: darkcyan;
  padding: 0.1rem 1rem;
  font-weight: 900;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.flexthingy {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.logo {
  border-radius: 50%;
  width: 2.5rem;
}

.primary-navigation {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero {
  background-color: darkslategray;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.hero img {
  max-width: 50%;
  height: auto;
  border-radius: 1rem;
}

.hero-text {
  flex: 1;
  text-align: left;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.maincontent {
  background-color: white;
}

.maincontentwimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.maincontentwimg .text {
  flex: 1;
  text-align: left;
  max-width: 31rem;
}

.contentimg {
  max-width: 50%;
  height: auto;
  border-radius: 0.5rem;
  order: 2;
}

.taglist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.heroclump {
  color: white;
}